# Node.js modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
*.log

# Local env files
.env

# Editor/IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# System-generated integration folders (optional, if you don't want to track outputs)
# Uncomment this if you don't want to commit the generated integration folders
# [integration folders will be ignored if their names are not manually whitelisted]
# shopify/
# salesforce/
# *

# GitHub Actions temp files
.github/workflows/*.log
.github/workflows/*.tmp
